<nav class=" navbar navbar-expand-lg navbar-light bg-light nav-bk3">
  <a class="navbar-brand" href="#">Todo</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class=" collapse navbar-collapse" id="navbarNavAltMarkup">
   
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" routerLink="/Users">Users</a>
      <a class="nav-item nav-link"  routerLink="/Posts">Posts</a>
      <a class="nav-item nav-link"  routerLink="/Profile">Profile</a>
      <a class="nav-item nav-link"  routerLink="/Login  ">Login</a>
    
    </div>
  </div>
</nav>