<div class="container">
    <table class="table table-bordered ">
        <thead>
          <tr>

            <th scope="col">UserName</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
          </tr>
        </thead>
        <tbody>

              <tr *ngFor="let user of users">

                  <td (click)="OpenUserModal(user.id);">{{user.username}}</td>
                  <td  (click)="OpenUserModal(user.id);">{{user.name}}</td>
                  <td (click)="OpenUserModal(user.id);" >{{user.email}}</td>
                </tr>



        </tbody>
      </table>
</div>

<!-- Button trigger modal -->


  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title  "  id="exampleModalLabel">
             {{userDetails?.name}}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-b="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="row">
              <div class="col-6" >
                <b> Name :</b>
              </div>
              <div class="col-6">
                    {{userDetails?.name}}
              </div>

              <div class="col-6">
                
                    <b>Username: </b>
                
      
              </div>
              <div class="col-6">
                  {{userDetails?.username}}
              </div>

              <div class="col-6">
                <b >Company Name :</b>
              </div>
              <div class="col-6">
                  {{userDetails?.company.name}}
              </div>

              <div class="col-6">
                <b >
                  Phone :
                </b>
              </div>
              <div class="col-6">
                  {{userDetails?.phone}}
              </div>

              <div class="col-6">
                <b >
                  WEBSITE :
                </b>
              </div>
              <div class="col-6">
                  {{userDetails?.website}}
              </div>

              <div class="col-6">
                <b >Email : </b>
              </div>
              <div class="col-6">
                  {{userDetails?.email}}
              </div>



              <div class="col-6">
                <b >City: </b>
              </div>
              <div class="col-6">
                  {{userDetails?.address.city}}
              </div>

              <div class="col-6">
                  <b >Street : </b>
                </div>
                <div class="col-6">
                    {{userDetails?.address.street}}

                </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
         
        </div>
      </div>
    </div>
  </div>
